# Responsável por definir a infraestrutura e aplicação em containers ( 3 containers: Banco de dados MySQL , Aplicação do wordpress , Nginx personalizado como proxy e load balancer de camada 4) 
# Rede interna chamada "wordpress". Dois volumes persistentes, garantindo que os dados do wordpress e do MYSQL não sejam perdidos 



version: '3.9'

services:

  database:
    image: mysql:5.7
    container_name: database
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - my:/var/lib/mysql
    networks:
      - wordpress

  webserver:
    image: wordpress:latest
    container_name: webserver
    restart: always
    environment:
      WORDPRESS_DB_HOST: database:3306
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppass
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - app:/var/www/html
    networks:
      - wordpress
    depends_on:
      - database

  webproxy:
    image: anderson19995/nginx-lb-wordpress
    container_name: webproxy
    ports:
      - "8080:8080"
    networks:
      - wordpress
    depends_on:
      - webserver

volumes:
  app:
  my:

networks:
  wordpress:

